
.feynman__link {
  position: absolute;
  right: 48px;
  align-self:center;
  line-height: 51px;
  font-size: 36px;
  top: 50%;
  bottom: 50%;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}
