/* Main settings */


.page {
  font-size:100%;
  font-weight: normal;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* Header */


.header {
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  z-index: 4;
  font-size: 102px;
  color: #000000;
  font-weight: bold;
  line-height: 96px;

}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  color: #000000;
  font-weight: normal;
  line-height: 25px;
  margin: 0;
  z-index: 4;
}


.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_header {
  background-repeat: no-repeat;
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 4;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color:#2f80ed;
  position: absolute;
  right:0;
  top: 64px;
  z-index: 0;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 756px;
  height: 608px;
}


/* Content */


.content {
  width: 100%;
}


/* Description */


.description {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  padding: 0;
  margin: 0;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  color: #000000;
  width: 80%;
  min-width: 784px;
  padding: 0;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}


/* Digits */


.digits {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  color: #000000;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  margin: 0 auto 20px;

}

.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}


/* Feynman */


.feynman {
  width: 100%;
  min-height: 790px;
  background-color: #f2f2f2;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  padding-top: 100px
}

.feynman__title {
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  color: #000000;
  font-weight: bold;
  z-index: 2;
  margin: 0;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  font-weight: normal;
  z-index: 2;
  margin: 70px 0 0;
}

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  right: 48px;
  align-self:center;
  line-height: 51px;
  font-size: 36px;
  top: 50%;
  bottom: 50%;
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}


/* Kaufman */


.kaufman {
  width: 100%;
  background-color: #1f1f1f;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  z-index: 0;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  right: -210px;
  z-index: -1;
  background-size: cover;
}

.section-title_theme_dark {
  color: #ffffff;
}

.section-subtitle_theme_dark {
  color: #ffffff;
}

.table_theme_dark {
  z-index: 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #ffffff;
}

.table__text_theme_dark {
  color: #ffffff;
}

/* Footer */


.footer {
  width: 100%;
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;

}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
  margin: auto;
}

.footer__column_content_copyright {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}

.list {
  list-style: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-links {
  margin-bottom: 16px;
  padding: 0;
  margin-top: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 10px 0 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
