.page {
  font-size:100%;
  font-weight: normal;
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/*
CSSВыделить код
1
margin: 0 auto 0 auto;
А теперь рассшифровка:
CSSВыделить код
1
margin: верх право низ лево; */



.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  z-index: 4;
}

.header__title_text {
  font-size: 102px;
  color: #000000;
  font-weight: bold;
  line-height: 96px;
  margin: auto;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 4;
  
 
}

.header__subtitle_text {
  font-size: 18px;
  color: #000000;
  font-weight: normal;
  line-height: 25px;
  text-align: left;
  margin: auto;
  
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  width: 183px;
  height: 32px;
  position: absolute;
  left: 64px;
  top: 30px;
  z-index: 4;
}

.square-pic {
  width: 568px;
  height: 568px;
  background-color:#2f80ed;
  position: absolute;
  right:0;
  top: 64px;
  z-index: 0;
}

.main-illustration {
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.main-illustration__image {
  width: 756px;
  height: 608px;
}



/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.content {
  width: 100%;
}


.description {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* to do: min heigh? */
.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
}

.brief {
  width: 175px;

 
  /* padding-right: auto; */
}

.brief__title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  
}

.brief__link {
  text-decoration: none;
  color: #2f80ed;
  
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  width: 80%;
  min-width: 784px;
  padding: 0;
  margin: 0;
}

.two-columns__paragraph_with_bottom-margin {
  margin-bottom: 30px;
}

.span-accent {
  font-weight: bold;
}

.list {
  list-style: none;
}




.digits {
  width: 100%;
}

.section-title {
  width: 60%;
  margin: 100px auto 20px;
}

.section-title__header {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  margin: auto;
}

.section-subtitle__header {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin-bottom: 20px;
}

.table__heading_text {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_paragraph_two {
  margin-top: 20px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
}

.feynman__title {
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  margin: 100px 0 0;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin: 70px 0 0;
  }

.feynman__img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
 

}

.feynman__link {
  position: absolute;
  right: 48px;
  align-self:center;
  line-height: 51px;
  font-size: 36px;
  top: 50%;
  bottom: 50%;
  text-decoration: none;
  color: #2f80ed;
  
}

/* margin: верх право низ лево; */